<h1>Everyday is a Journey</h1>

<% @posts.reverse.each do |post| %>
  <div class="well">
    <h3><%= post.title %></h3>
    <p> <%= post.body %></p>
    <%= link_to "Go to post", post_path(post), :class => 'btn btn-deafult' %>
  </div>
<% end%>
